:root {
    font-size: 16px;
    --text-primary:#E4E6EB;
    --bg-primary: #3a3b3c;
    --bg-secondary: #242526;
    --bg-third: #18191A;
    --font-fira: 'Fira Code', monospace ;
    --font-normal: 'KoHo', sans-serif;
    --font-nav: 'Source Code Pro', monospace;
    --transition-speed: 600ms;
    --nav-hover: #df49a6;
}/*👇 Navbar*/

.navbar {
    width: 3rem; /*Change this */
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    z-index: 1;
}



.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {width: 100%;}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  
}

.link-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin-left: 1rem;
    font-family: var(--font-nav);
    color: var(--text-primary);
    font-size: 22px;
}

.material-icons {
    font-size: 39px !important;
    font-display: block;
}

.nav-link:hover .material-icons{
    color: var(--nav-hover);
}

#link {
    transform: rotate(35deg);
}


.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color: var(--text-secondary);
}

.navbar:hover {
    width: 14rem;
}

.navbar:hover .link-text {
    color: var(--nav-hover);
    display: inline;
    visibility: visible;
    opacity: 1;
}

/* ☝️ Navbar For Desktop*/




.annav {
    display: none;
}

.nav__link {
    display: none;
}

.nav__link:hover {
    display: none;
}

.nav__link--active {
    display: none;

}

.nav__icon {
    display: none;
}




@media only screen and (max-width: 480px) {
    .navbar {
        display: none !important;
    }
    
    
    
    .navbar-nav {
        display: none !important;
    }
    
    .nav-item {display: none !important;}
    
    .nav-link {
        display: none !important;
    }
    
    .link-text {
        display: none !important;
    }
    
    #link {
        display: none !important;
    }


    
    /*👇 Navbar For android*/


    .an-nav {
        position: fixed  !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 55px !important;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
        background-color: var(--bg-secondary) !important;
        display: flex !important;
        overflow-x: auto !important;
    }
    
    .nav__link {
        display: flex  !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        flex-grow: 1 !important;
        min-width: 50px !important;
        overflow: hidden;
        white-space: nowrap !important;
        font-family: var(--font-nav) !important;
        font-size: 14px !important;
        color: var(--text-primary) !important;
        text-decoration: none !important;
        -webkit-tap-highlight-color: transparent !important;
        transition: background-color 0.1s ease-in-out !important;
    }
    
    .nav__link:hover {
        background-color: var(--bg-primary) !important;
    }
    
    .nav__link--active {
        color: var(--nav-hover) !important;
    }
    
    .nav__icon {
        font-size: 18px !important;
    }

    .material-icons {
        font-size: 27px !important;
        font-display: block;
    }

    #an-link {
        transform: rotate(35deg);
    }
    
    
    
}
