body {
    margin: 0%;
    padding: 0%;
}

#profile-pic {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 50%;
}

h1 {
    font-family: 'Fira Code', monospace !important;
}

.text {
    font-family: 'KoHo', sans-serif;
    margin-left: 50%;
}


.nav-items {
    position: fixed;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: space-evenly;
    width: 13%;
}

.nav-links {
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke !important;
}