:root {
    font-size: 16px;
    --text-primary:#E4E6EB;
    --bg-primary: #18191A;
    --bg-secondary: #242526;
    --font-fira: 'Fira Code', monospace ;
    --font-normal: 'KoHo', sans-serif;
    --font-nav: 'Source Code Pro', monospace;
}

body {
    margin: 0;
    padding: 0;
}


#profile-pic {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}


body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {width: 100%;}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    display: none;
}